<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="../../public/stylesheets/normalize.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,700italic,700,300">
        <link rel="stylesheet" href="../../public/stylesheets/lib.css">
        <title>Finstagram</title>
    </head>
    <body>
        <header>
            <center><img src="https://img.clipartfest.com/49803d8eb5ea235a5860ac942caece70_download-png-download-eps-instagram-logo-clipart-png_1024-1024.png" width="150"></center>
            <nav>
                <center><ul>
                    <li><a href="#">News</a></li>
                    <li><a href="#">Notifications</a></li>
                    <li><a href="#">Profile</a></li>
                </ul></center>
            </nav>
        </header>
        <hr>
        <section>
            <h1>Welcome to Finstagram!</h1>
            <p>
                Listicle affogato chillwave umami pickled, air plant cornhole hammock. Lumbersexual pop-up fixie pickled salvia franzen. Fixie copper mug hashtag beard. Plaid fanny pack hexagon, art party VHS chillwave pug quinoa seitan post-ironic. Salvia trust fund dreamcatcher, roof party single-origin coffee microdosing yuccie plaid tote bag artisan mixtape affogato craft beer sriracha literally. Lo-fi fixie narwhal tofu, activated charcoal prism cold-pressed gentrify iceland. Retro meggings VHS, green juice cardigan single-origin coffee selfies authentic artisan chartreuse shoreditch sustainable tofu lo-fi squid.
            </p>
        </section>
        <table style:"width:100%">
            <tr>
                <th>Year</th>
                <th># of Users</th>
                <th>$ Made</th>
            </tr>
            <tr>
                <td>2014</td>
                <td>2</td>
                <td>$5</td>
            </tr>
            <tr>
                <td>2015</td>
                <td>500</td>
                <td>$1500</td>
            </tr>
            <tr>
                <td>2016</td>
                <td>3,000</td>
                <td>$20,000</td>
            </tr>
        </table>
     </body>
</html>